.footer {
  padding: 20px 0px 60px 0px;
  background-color: $footer-background;
  .logo {
    width: 94px;
    height: 51px;
    margin-right: 110px;
    @media (max-width: 768px) {
      margin-right: 0px;
      width: 84px;
      height: 41px;
    }
  }
}

.footer-container {
  width: 100%;
  max-width: 1152px;
  background-color: $footer-background;
  hr {
    border-color: $footer-button;
    border-width: 3px;
  }
}

.first-part {
  p {
    margin: 0;
    color: $footer-button;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  @media (max-width: 768px) {
    gap: 30px;
  }
}

#twitter {
  border-radius: 8px;
}

.social-media {
  gap: 32px;
  img {
    width: 31px;
    height: 31px;
  }
  a {
    cursor: pointer;
    color: $footer-button;
    &:hover {
      color: $footer-button-hover;
    }
  }
}

.links {
  a {
    color: $footer-button;
    cursor: pointer;
    &:hover {
      color: $footer-button-hover;
    }
  }
  @media (max-width: 768px) {
    gap: 15px;
  }
}
