$white: rgb(255, 255, 255, 100%);
$black: rgb(0, 0, 0);

/* Navbar Buttons Colors */
$button-blue: #6867c9;
$navbar-normal-button-hover: #2a94f4;
$navbar-blue-button-hover: #b6b6e6;

// Footer Button
$footer-button: rgb(135, 135, 135);
$footer-button-hover: white;
$footer-background: #282828;

// Contact Page
$contact-page-button:black;
$contact-page-button-hover:rgb(135, 135, 135);
